body {
    font-family: Arial, sans-serif;
    background-color:#f6ebda;
    color:#78350f;
    margin: 0;
}
  
/* Nav positioning */
.nav {
    position: fixed;
    top: 24px;
    left: 24px;
}

/* nav container (took this from my figma make prototype */
.nav-container {
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: #ffffffcc;
    backdrop-filter: blur(6px);

    padding: 10px 20px;
    border-radius: 999px;
    box-shadow: 0 4px 10px #0000001a;
}

/* nav logo */
.logo {
    display: flex;
    align-items: center;
    gap: 6px;

    text-decoration: none;
    color: #78350f;
    font-weight: bold;
}

/* links */
.nav-link {
    text-decoration: none;
    color: #92400e;
    padding: 4px 12px;
    border-radius: 999px;
    transition: 0.2s;
}

/* hover effect */
.nav-link:hover {
    background-color: #fef3c7;
}

/* active page */
.nav-link.active {
    background-color: #b45309;
    color: white;
}

/* main container */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 40px;
}

  /* search bar */
.search-container {
    width: 420px;
    background-color: #ffffffcc;
    backdrop-filter: (6px);
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 10px #0000001a;
}

.idle-search {
    display: flex;
    gap:10px;
}

.search-container input,
.search-container select,
.search-container button {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #d6d3d1;
  padding: 10px;
  color:#92400e;
  margin: 10px;
}

#searchInput {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #78350f;
}
  
#searchInput:focus {
    outline: none;
}

/* option spacing */
.option-group {
    margin-bottom: 20px;
}

.option-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin: 10px;
}

/* dropdown */
#genreSelect {
    width: 100%;
}

/* slider */
#pageSlider {
    width: 100%;
}

.range-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

/* search button */
#searchBtn {
    width: 100%;
    border: none;
    background-color: #b45309;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#searchBtn:hover {
    background-color: #92400e;
}
  